CMakeLists.txt.user
pjproject-2.5.5/build.mak
pjproject-2.5.5/build/cc-auto.mak
pjproject-2.5.5/build/os-auto.mak
pjproject-2.5.5/config.log
pjproject-2.5.5/config.status
pjproject-2.5.5/pjlib-util/bin/
pjproject-2.5.5/pjlib-util/build/os-auto.mak
pjproject-2.5.5/pjlib-util/build/output/
pjproject-2.5.5/pjlib-util/lib/
pjproject-2.5.5/pjlib/bin/
pjproject-2.5.5/pjlib/build/os-auto.mak
pjproject-2.5.5/pjlib/build/output/
pjproject-2.5.5/pjlib/include/pj/compat/m_auto.h
pjproject-2.5.5/pjlib/include/pj/compat/os_auto.h
pjproject-2.5.5/pjlib/include/pj/config_site.h
pjproject-2.5.5/pjlib/lib/
pjproject-2.5.5/pjmedia/bin/
pjproject-2.5.5/pjmedia/build/os-auto.mak
pjproject-2.5.5/pjmedia/build/output/
pjproject-2.5.5/pjmedia/include/pjmedia-codec/config_auto.h
pjproject-2.5.5/pjmedia/include/pjmedia/config_auto.h
pjproject-2.5.5/pjmedia/lib/
pjproject-2.5.5/pjnath/bin/
pjproject-2.5.5/pjnath/build/output/
pjproject-2.5.5/pjnath/lib/
pjproject-2.5.5/pjsip-apps/bin/
pjproject-2.5.5/pjsip-apps/build/output/
pjproject-2.5.5/pjsip/bin/
pjproject-2.5.5/pjsip/build/os-auto.mak
pjproject-2.5.5/pjsip/build/output/
pjproject-2.5.5/pjsip/include/pjsip/sip_autoconf.h
pjproject-2.5.5/pjsip/lib/
pjproject-2.5.5/third_party/build/g7221/output/
pjproject-2.5.5/third_party/build/gsm/output/
pjproject-2.5.5/third_party/build/ilbc/output/
pjproject-2.5.5/third_party/build/os-auto.mak
pjproject-2.5.5/third_party/build/resample/output/
pjproject-2.5.5/third_party/build/speex/output/
pjproject-2.5.5/third_party/build/srtp/output/
pjproject-2.5.5/third_party/build/yuv/output/
pjproject-2.5.5/third_party/lib/
qt_build/

